.App {
  
  background: rgb(8, 10, 31);
  height: 100vh;
  
background: linear-gradient(
  180deg, 
    rgba(2,0,36,1) 0%,
    rgba(9,106,121,0.7011846975118172) 61%,
    rgb(32, 61, 66) 100%,
    rgb(72, 106, 112) 100%,
    rgb(18, 64, 73) 100%
    );
}